{{extend './_layout/layout.html'}}
{{block 'title'}}主页{{/block}}
{{block 'head'}}
	<style>
		.no-und:hover {
			text-decoration: none;
		}
		.acon {
			color: red;
		}
		.acon:visited {
			color: gray;
		}
		.log-hid {
			display: none;
		}
	</style>
{{/block}}
{{block 'content'}}
<div class="container-xl border" style="height:120em ;background-color: #fff;">
	<ul class="nav nav-pills border-bottom">
	  <li class="nav-item">
	    <a class="nav-link active" href="#">全部</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">精华</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">问答</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link " href="#" >招聘</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link " href="#" >app</a>
	  </li>
	</ul>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="/upcontent-1" class="acon">
			  <span style="color:red">想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	  <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<div class="border-bottom p-4">
	  <a href="#" class="p-3  no-und" >
	  		 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2.5em;height:2.5em;"> 
	  </a>
	  <span id="reply">10</span>/<span id="readed">260</span>
	   <span class="badge badge-primary">专属</span>
	  <div class="d-inline-block p-1 ml-3">
		  <a href="" class="acon">
			  <span>想买个笔记本，以办公，追剧为主，价位在4000－4500，有什么好的推荐吗？</span>
		  </a>
	  </div>
	  <div class="float-right">
		 <a href="#" class="p-3  no-und" >
		 	 <img src="/public/imgs/01.jpg" alt="" class="d-inline-block" style="width: 2em;height:2em;"> 
		 </a>
		  <span class="pr-1">2 days ago</span>
	  </div>
	</div>
	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-left container-xl">
	    <li class="page-item disabled">
	      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
	    </li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	    <li class="page-item"><a class="page-link" href="#">2</a></li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item">
	      <a class="page-link" href="#">Next</a>
	    </li>
	  </ul>
	</nav>
</div>

{{/block}}
{{block 'scripts'}}
	<script type="text/javascript">
		
	</script>
{{/block}}