{{extend './_layout/layout.html'}}
{{block 'title'}}内容页-1{{/block}}
{{block 'head'}}
	<style>
		.no-und:hover {
			text-decoration: none;
		}
		.acon {
			color: red;
		}
		.acon:visited {
			color: gray;
		}
		.log-hid {
			display: none;
		}
	</style>
{{/block}}
{{block 'content'}}
<div class="container-xl border" style="height:120em ;background-color: #fff;">
	<ul class="nav nav-pills border-bottom">
	  <li class="nav-item">
	    <a class="nav-link active" href="#">全部</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">精华</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">问答</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link " href="#" >招聘</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link " href="#" >app</a>
	  </li>
	</ul>
	<h1 style="font-size:150px;text-align: center;">尚未完成</h1>
	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-left container-xl">
	    <li class="page-item disabled">
	      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
	    </li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	    <li class="page-item"><a class="page-link" href="#">2</a></li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item">
	      <a class="page-link" href="#">Next</a>
	    </li>
	  </ul>
	</nav>
</div>

{{/block}}
{{block 'scripts'}}
	<script type="text/javascript">
		
	</script>
{{/block}}
